*{
	margin: 0;
	padding: 0;
    list-style: none;
	box-sizing: border-box;
}

body{
	background:linear-gradient(to right,#3525af,#9153c9);
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(104, 190, 46);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: "|";
}

nav li{
    float:right;
    width: 50%;
    text-align: center;
}

.resume{
	width: 800px;
    background: white;
    margin:25px auto;
    display: flex;
    
}

/* ---------------------------LEFT------------------ */

.left{
    background:#292b2f;
    width: 250px;
    padding: 0 20px;
    display: flex;
    align-items: center;

}
.left ul{
    width: 250px;
    padding: 0 10px;
    
}
/*titre contact*/
.left h2{
    color: #3525af;
    position: relative;
    text-align: left;
    margin-bottom: 25px;
    
}
/*info contact*/
#Contact1 {
    color:#9153c9;
    font-size: 13px;
    display: flex;  
}

/*info skills*/
#Skills1{
    color:#9153c9;
    font-size: 13px;
    
}
/* Skills icons*/ 
#Skills1 i{
    width: 50px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    margin-right: 5px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}


/* Contact icons*/ 
#Contact1 i{
    width: 35px;
    height: 35px;
    background: #292b2f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    margin-right: 5px;

    border: 2px solid #fff;    
}
/*picture*/
.center{
    display: block;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 150px;
    border-radius: 30%;
}

.left Hobbies{
    color:#9153c9;
    font-size: 13px;
}
.left h3{
    color: #3525af;
    position: relative;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase; 
}

h3::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #9153c9;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

audio {
    width: 200px;
}


/* -------------------------RIGHT------------------ */

.right{
    width: calc(100% - 250px);
}

.right header{
    background: #292b2f;
    padding: 15px 30px;
    color: #fff;
    height: 150px;
}

.right header h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3525af;   
}

.right header h5{
    font-weight: 200;
    font-size: 15px;
}

.right h3{
    font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 5px;
	color: #3525af;
	position: relative;
	text-align: Left;
	margin-bottom: 0px;

}

.form{ 
    font-weight: bold;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;

}

.Form{
    margin-bottom: 80px;
}

.Form button{
    background:linear-gradient(to right,#9153c9,#3525af);
    color: black;
    font-size: 15px;
    border: black;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

.Form button:hover{
    transform: scale(1.05);
}

